* {
	box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    max-height: auto;
    margin: 0 3%;
    padding: 0 20px;
    background-color: yellow;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    right: 0; /* Aligns container to the right */
}

.Emoji{
    display: flex;
    margin: 0 30%;
    
}
.Emoji div{ 
    margin: 0 20px;
    font-size: 300px;}
